= form.input attribute, { as: input_type, label: field_label, collection: associated_options, label_method: collection_label_field, input_html: { multiple: true, class: "form-control select2-multiple has-many-ids-control" } }.merge(input_options)
