- configure_toolbar(:list, self) do |b|
  - b.link admin_customs_path, class: 'btn btn-success' do
    %i.fa.fa-gear
    Customs
  - b.link admin_cars_path, class: 'btn btn-danger' do
    %i.fa.fa-car
