- search_options.each do |search_option|
  .col-sm-6
    %ul.list-unstyled
      %li
        = form.hidden_field search_option[:options], value: search_option[:filter]
      %li
        = form.input(search_option[:field], { as: :string, input_html: { value: form.object.search_criteria[search_option[:field]], class: "datepicker form-control" } })
