.bundle/
log/*.log
pkg/
spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal
spec/test_app/log/*.log
spec/test_app/tmp/
/coverage/
rerun.txt
*.orig
public/assets/
spec/test_app/public/assets/
tmp/caching-dev.txt
tmp/rspec_guard_result
