<!DOCTYPE html>
<html>
<head>
  <title>Krudmin</title>
  <%= stylesheet_link_tag    "krudmin/application", media: "all" %>
  <%= javascript_include_tag "krudmin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
