%div{class: metadata.fetch(:class, 'col-lg-6 col-md-12')}
  .card{data: {card_panel: key}}
    .card-header
      %h5.pull-left
        = metadata.fetch(:label)
      .card-actions.pull-right
        %a.btn.card-collapser{href: '#'}
          %i.fa.fa-chevron-up.fa-lg
    .card-body
      .row
        - metadata.fetch(:attributes).each do |attribute|
          %div{class: metadata.fetch(:input_container_class, 'col-md-12')}
            .form-group
              = field_for(attribute, model).render(:form, self, {form: f})
