%tr.nested-fields
  - @field.associated_resource_manager_class.displayable_attributes.each do |attribute|
    %td
      = field_for(attribute, f.object, root: @field.association_name).render(:form, self, {form: f, input: {label: false}})
  %td
    = link_to_remove_association f, class: 'btn btn-danger' do
      %i.fa.fa-trash
