- if destroy_access?(model)
  .list-inline-item
    = link_to(resource_path(model), { method: :delete, remote: true, data: {confirm_class: :danger, confirm_icon: :error, sweet_confirm: confirm_destroy_message(model)}, class: "btn btn-outline-danger delete-btn btn-destroy-item" }.merge(html_options)) do
      %i.fa.fa-trash
