%ul.list-unstyled.col-sm-12
  %li
    = form.hidden_field(options_attribute, required: false, class: "form-control", value: :eq)
  %li
    = form.select(attribute, associated_options, {include_blank: true}, {class: "form-control select2"})
