- field.model.send(attribute) or field.model.send("build_#{attribute}")

= form.simple_fields_for field.attribute do |f|
  - field.associated_resource_manager_class.editable_attributes.each do |attribute|
    = field_for(attribute, f.object, root: field.attribute).render(:form, self, {form: f})
