= form.association association_name, as: input_type, collection: associated_options, label_method: collection_label_field, value_method: :id, group_method: group_method, group_label_method: group_label_method, input_html: {class: 'form-control select2', include_blank: true}
