%p
  Hola #{@resource.email}!
%p Tu cuenta ha sido creada o un enlace para modificar tu contraseña existente ha sido solicitado.
%p= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token)
%p Tu password no sera modificado hasta que no accedas al link enviado y asignes uno nuevo.
